# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Model Files
*.pt
*.bin
*.ckpt
*.safetensors
grievance_model/
grievance_model.zip

# OS Files
.DS_Store

# Logs
*.log

# Large Data Files
*.csv
*.zip

# IDE
.vscode/
.idea/
